html {

    background-image: url("/images/background-main.jpg");
}

body {

    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
    border-color: #e5e5e5;
    color: #7c7c7c;




}

main {

    border-bottom: 2px dotted black;
    padding-bottom: 100px !important;
}

a {

    color: #ee3d42;

}


#nav-main a:hover {

    color: #ee3d42;
}

header h1 {

    text-align: center;
}

header img {

    width: 40%;
    display: block;
    margin: auto;

}
h1 {

display:none;    
}
#nav-main {

    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px dotted black;
    text-transform: uppercase;


}

#nav-main ul {


    padding-left: 0px;
}

#nav-equipe {

    background-color: #fff;
    font-size: 125%;

}

#nav-main li {

    display: inline-block;


}

#nav-main li a {
    font-size: 22px;
    font-weight: bold;
    color: #4f4f4f;
    padding: 0px 6px 0px 18px;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #4f4f4f !important;
    text-decoration: none;
    margin-right: 16px;
}

#nav-main ul li:first-child a {

    border-left: none;
}

#nav-main {

    background-color: #ffffff;
}

#nav-main ul li {
    list-style-type: none;

}

#nav-equipe ul {
    padding-left: 50px;
    margin-bottom: 0px;

}

#nav-equipe ul li {

    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    border-bottom-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 11px 20px;
    padding-top: 11px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;
    font-size: 75%;
    cursor: pointer;

}

#nav-equipe ul :first-child {

    background-color: #fafafa;



}


#nav-equipe a {

    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
    padding: 11px 20px 0px 20px;
    color: #000;
    text-decoration: none;
    padding: 0;
}

#main-equipe {

    background-color: #ffffff;
    padding: 20px;



}

#wrapper-equipe {

    display: grid;
    width: auto;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    color: #7c7c7c;
    font-size: 12px;
    margin: 50px;
    margin-top: 0px;
    border-width: 1px;
    border-style: solid;
    background-color: #fafafa;
    border-color: #e5e5e5;
    justify-content: space-evenly;
    padding: 20px 20px 0px 20px;
    line-height: 1.7;
    margin-bottom: 0px;

}

.wrapper-equipe p {

    margin-top: 0px;
}



.desc-equipe {


    padding-left: 20px;
    padding-top: 0px;
    margin-top: -5px;
    padding-left: 20px;
    margin-top: 25px;



}

.photo-equipe {
    margin-top: 30px;




}




/* partie de Micake*/


.bodypro {
    background-color: #282828;
    padding-top: 10PX;
    border-radius: 10px 10px 0px 0px;
    border-top-width: 50px;
    border-top-style: solid;

}

#burger {
    margin-bottom: -5px;
}

#img-product-wrapper {
    display: flex;
    justify-content: space-evenly;
    border-bottom-style: solid;
    border-bottom-width: 50px;
    margin-top: -10px;

}

.img-product {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;

}




.vegetarian {
    border-top-width: 50px;
    border-top-style: solid;
    line-height: 1.7;
    overflow: hidden;

}


.title11 {
    display: inline-block;
    font-weight: bold;
    font-size: 150%;
    color: #7c7c7c;
    text-decoration: underline;
    border-left-width: 100px;
    border-left-style: solid;

}

.title12 {
    width: 60%;
    text-decoration: underline;
    font-weight: bold;
    font-size: 150%;
    color: #7c7c7c;
    float: right;

}

.img11 {
    float: right;
    overflow: hidden;
    margin-top: 10px;
    width: 38%;
}

.des11 {
    color: #7c7c7c;
    font-weight: bold;
}


.menu {
    border-top-width: 50px;
    border-top-style: solid;
    
}

.menu-img {
    width: 100%;
    border-radius: 10px;
    border-bottom-width: 50px;
    border-bottom-style: solid;

}


.prev {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.52);
    z-index: 2;
    position: absolute;
    margin-top: 20%;
    width: 40px;
    height: 80px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left-width: 0px;
    border-radius: 5px;
}


.next {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.52);
    z-index: 5;
    position: absolute;
    left: 83.8%;
    margin-top: 20%;
    width: 40px;
    height: 80px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-radius: 5px;
}


/*Fin partie Mickael*/

/*Début partie Marie*/

.cohab-hours-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.name,
.email,
.sujet {
    background-color: #DCDCDC;
    border-radius: 4px;
    height: 30px;
    width: 100%;
}

.message {
    background-color: #DCDCDC;
    border-radius: 4px;
    width: 100%;
}

.button {
    visibility: visible;
}

/*Fin partie Marie*/

footer {

    background-color: white;
    margin-top: 0px;
    padding-top: 0px;
}

footer h3 {

    padding-top: 0px;
    margin-top: 0px;

}

#wrapper-footer div {

    margin-bottom: 20px;



}

#wrapper-footer {

    display: grid;
    text-align: center;
    line-height: 1.5;
    grid-template-areas:
        '. . title . .'
        'adresse1 . adresse2 . adresse3 '
        '. adresse4 . adresse5  .'
        'sponsor1 sponsor2 sponsor3 sponsor4 sponsor5'
        '. . social . . '
        'copyright copyright  copyright copyright copyright';
    font-size: 85%;

}

#wrapper-footer a {
    text-decoration: none;
}

#wrapper-footer img {
    display: inline;
    vertical-align: middle;
}

#footer-title {
    grid-area: title;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 300px;
    font-size: 20px;
}

#footer-adresse1 {
    grid-area: adresse1;
    margin-left: 75px;
}

#footer-adresse2 {
    grid-area: adresse2;
}

#footer-adresse3 {
    grid-area: adresse3;
    margin-right: 75px;
}

#footer-adresse4 {
    grid-area: adresse4;
    margin-bottom: 50px !important;
}

#footer-adresse5 {
    grid-area: adresse5;
    margin-bottom: 50px !important;
}

#footer-sponsor1 {
    grid-area: sponsor1;
}

#footer-sponsor2 {
    grid-area: sponsor2;
}

#footer-sponsor3 {
    grid-area: sponsor3;
}

#footer-sponsor4 {
    grid-area: sponsor4;
}

#footer-sponsor5 {
    grid-area: sponsor5;
}

#footer-social {
    grid-area: social;
}

#footer-copyright {
    grid-area: copyright;
}

#footer-copyright p {
    background-image: url("/images/footer-background.jpg");
    background-size: cover;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    margin-bottom: -20px !important;
    text-align: center;
    font-size: 75%;
    line-height: 40px;
    /* centrage vertical */
    /* Merci :O */
}

#main-equipe,
nav,
#wrapper-footer {

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* début index*/

#container-jour {
    width: 100%;
    height: 100%;
    background-color: #282828;
    display: flex;
}

#photo-jour {
    margin: 2%;
    width: 72%;
    background-image: url("/images/vegetarien.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}


.burger-jour {

    padding: 2% 2% 2% 0%;
    text-align: center;
}

#description-jour {
    padding: 2% 2% 2% 0%;
    width: 20%;
    height: 500px;
}

#container-2 {
    margin-top: 20px;
    display: flex;
}

#wrapper-instagram {

    display: grid;
    width: 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    float: left;
}

#wrapper-instagram img {
    margin: 5px;
    border-color: white;
    border: 5px;
    background-color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    opacity: 1;
}

#evenement {
    text-align: center;
    width: 50%;

}

.eve {
    padding: 15px 0px 10px 0px;
    background-color: #282828;
    margin: 5px 0px 0px 0px;


}

#description-evenement {

    font-size: 18px;
    padding: 10px;
}

#image-evenement {

    text-align: center;
}

#image-evenement img {
    height: 200px;
}

/*.marge {
    margin: 20px 20px 20px 40px ;

}



/*fin index*/
/* début css bouton dark mode */



input {
    display: block;
    margin-bottom: 1.5em;


}

.l {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.75em;
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.3) inset;
    color: #fdea7b;
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.15em;
    width: 3em;
    height: 1.5em;
    transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: calc(px + (80 - 75) * (100vw - 320px)/(960 - 320));


}

.l:before,
.l:after {
    content: "";
    display: block;
}

.l:before {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
}

.l:after {
    background:
        linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50% / 50% 100%,
        repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%) 0 50% / 50% 100%,
        radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%);
    transform-origin: 25% 50%;
    width: 1.2em;
    height: 1em;
}

/* Checked */
.l:checked {
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.1) inset;
}

.l:checked:before {
    background-color: currentColor;
    transform: translateX(125%)
}

.l:checked:after {
    border-left-color: currentColor;
    transform: translateX(-2.5%) rotateY(180deg);

}

/* fin css bouton dark mode */